.DS_Store
# JFR
jenkinsfile-runner/resources/target
jenkinsfile-runner/prebuild/dependencies
jenkinsfile-runner/prebuild/*.tar.gz
jenkinsfile-runner/.jfr

# Sonar-Scanner
sonar-scanner/prebuild/dependencies
sonar-scanner/prebuild/*.tar.gz
